<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:label="Capture CI fixture" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name="io.github.borderarea01.capturefixture.PageActivity" android:exported="true"/>
  </application>
</manifest>
